{% extends "forum/toolbar.html" %}
{% block content %}
  <h1>Welcome to my little forum</h1>

  {% if topic_list.count > 0 %}
     <p><a href="{% url 'create' %}">New topic</a></p>
     <table border="1" style="width:40%">
         <tr>
             <th>Topic</th>
             <th>Author</th>
             <th>Replies</th>
         </tr>
         {% for topic in topic_list %}
            <tr>
                <td><a href="{% url 'topic' topic.id %}"> {{ topic.topic_header }}</a></td>
              <td>{{ topic.publisher.username }}</td>
              <td>{{ topic.reply_set.count }}</td>
            </tr>
         {% endfor %}
     </table> 
     <p><a href="{% url 'create' %}">New topic</a></p>
  {% else %}
    <p> 
        Here still no topics. 
        You can 
            <a href="{% url 'create' %}">create</a>
        the first one. 
    </p>
  {% endif %}
{% endblock %}
