<html>
<head>
<style type="text/css">
a {color:#006699;}
</style>
</head>
<body>
    {% block header %}
    <p>
        {% if user.is_authenticated %}
            <a href="{% url 'forum' %}">Forum</a>.
            You are logged in as {{ user }}.
            <a href="{% url 'logout' %}">Logout</a>.
        {% else %}
            {% if errors %}
            <p class="error">{{ errors }}</p>
            {% endif %}
            <a href="{% url 'forum' %}">Forum</a>.
            You are not logged in. Please
            <a href="{% url 'login' %}">login</a>
            or <a href="/register">register</a>.
        {% endif %}
    </p>
    {% endblock %}
    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>
